#Appointment-card{
    background-color: #4C4F50;
    box-shadow: 0 0 5px #000000aa;
    width: auto;
}

#AppointmentNav>button, #AppointmentNav > i{
    cursor: pointer;
    font-size: 1.5em;
    background-color: transparent;
    color: white;
    transition: 0.3s ease-out;
}

#AppointmentNav>button{
    font-family: 'Roboto', sans-serif;
    border-style: none;
}

#AppointmentNav>button:hover, #AppointmentNav > i:hover{
    color:#FFC920;
}

#AppointmentNav::-webkit-scrollbar, #Appointment-content::-webkit-scrollbar{
    width: 4px;
    height: 4px;
    background-color: transparent;
}

#AppointmentNav::-webkit-scrollbar-thumb, #Appointment-content::-webkit-scrollbar-thumb{
    background-color: #FFC920;
}

#Appointment-content{
    overflow-y: auto;   
}