#Appointment-card{
    background-color: #4C4F50;
    box-shadow: 0 0 5px #000000aa;
    width: auto;
    flex-direction: row;
}

#AppointmentNav>button, #AppointmentNav > i{
    cursor: pointer;
    font-size: 1.5em;
    background-color: transparent;
    color: white;
    transition: 0.3s ease-out;
}

#AppointmentNav>button{
    font-family: 'Roboto', sans-serif;
    border-style: none;
}

#AppointmentNav>button:hover, #AppointmentNav > i:hover{
    color:#FFC920;
}

#Appointment-card::-webkit-scrollbar,#AppointmentNav::-webkit-scrollbar{
    width: 4px;
    height: 4px;
    background-color: transparent;

}

#Appointment-card::-webkit-scrollbar-thumb,#AppointmentNav::-webkit-scrollbar-thumb{
    background-color: #FFC920;
}
#AppointmentNav{
    overflow-x: auto;
}
.HistoryListItem>span{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    margin-right: 30px;
}
.HistoryListItem>span:last-child{
    margin-right: 0;
}

