body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #4C4F50;
}

body::-webkit-scrollbar{
    width: 4px;
    height: 4px;
    background-color: transparent;

}

body::-webkit-scrollbar-thumb{
    background-color: #FFC920;
}