@media screen and (max-width: 1000px){
    body{
        overflow-y: auto;
    }
    #Appointment-card{
        flex-direction: column;
    }

    #Appointment-card > div:first-child{
        width: 100%;
    }
    #Appointment-content{
        overflow-y: hidden;
        height: auto;
    }
    #User>i{
        font-size: 1em;
    }
    #User>span{
        font-size: 1em;
    }
    #Logo{
        padding: 0; 
        margin: 0;
    }
    #User{
        margin-left: auto;
    }

    #form-footer > button{
        margin-right: auto;
    }
}