#User>i{
    font-size: 2.5em;
}
#User>span{
    font-family: 'Oswald', sans-serif;
    /* color:#f9f4ec; */
    color: #FFC920;
    margin-right: 30px;
}
#Navbar{
    background-color: #4C4F50;
}
#Logo{
    background-color: #FFC920;
    color: #4C4F50;
}
#User>i{
    color: #FFC920;
}