#User>i{
    font-size: 2.5em;
}

#User>span{
    font-family: 'Oswald', sans-serif;
    /* color:#f9f4ec; */
    color: #FFC920;
    margin-right: 5px;
}

#Navbar{
    background-color: #4C4F50;
}

#Logo{
    background-color:#4C4F50;
    padding: 4px;
    margin-right: auto;

}

#Logo > img{
    cursor: pointer;
}

#User>i{
    margin-left: 4px; 
    margin-right: 16px;
    color: #FFC920;
}